<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>Imagen:</td>
      <td><%= f.file_field :file_up %></td>
    </tr>
    <tr>
      <td>Link a redirigir:</td>
      <td><%= f.text_field :link_url %></td>
    </tr>
    <tr>
      <td>Orden:</td>
      <td><%= f.number_field :play_order %></td>
    </tr>
    <tr>
      <td><%= f.submit %></td>
      <td></td>
    </tr>
  </table>
<% end %>
