<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @slide.image_url %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @slide.link_url %>
</p>

<p>
  <strong>Order:</strong>
  <%= @slide.play_order %>
</p>

<%= link_to 'Editar', edit_slide_path(@slide) %> |
<%= link_to 'Volver a slides', slides_path %>
