<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :topic_id, value: @topic.id %>
  <table>
    <tr>
      <td>Titulo</td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td>Descripcion</td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Listo' %></td>
    </tr>
  </table>
<% end %>
