<% c = Content.find(locals[:content_id])%>
<tr id="content_<%= c.id %>" class="content_row">
	<td><div class="little-img-container"><%= image_tag(c.image) %></div></td>
	<td class="index"><%= link_to c.name, c.url, {target: "_blank"} %></td>
	<td class="index"><%= link_to 'Previsualizar', c.url , {class:c.content_class} %></td>
	<td><%= c.source %></td>

	<!-- delete content icon cross -->
	<% if current_member && current_member.is_admin %>
		<td>
			<%= link_to 'eliminar', {controller: "home", action: "delete_content", content_id: c.id}, remote: true, class:"delete_icon" %>
		</td>
	<% end %>
</tr>