<div class="full" id="footer">
	<table class="full">
		<tr>
			<td class="span60"></td>
			<td>Apoyan:</td>
		</tr>
		<tr>
			<td><%= image_tag 'footer/ee.jpg'%></td>
			<td><%= image_tag 'footer/angloamerican.png'%></td>
			<td><%= image_tag 'footer/ccu.jpg'%></td>
			<td><%= image_tag 'footer/arauco.jpg'%></td>
			<td><%= image_tag 'footer/santander.jpg'%></td>
		</tr>
	</table>
</div>