<div class="full" id="footer">
	<table class="full">
		<tr>
			<td class="span60"></td>
			<td>Apoyan:</td>
		</tr>
		<tr>
			<td><%= link_to (image_tag 'footer/ee.jpg'), "https://www.eligeeducar.cl"%></td>
			<td><%= link_to (image_tag 'footer/angloamerican.png'), "http://www.angloamerican-chile.cl/"%></td>
			<td><%= link_to (image_tag 'footer/ccu.jpg'), 'http://www.ccu.cl' %></td>
			<td><%= link_to (image_tag 'footer/arauco.jpg'), 'http://www.arauco.cl/default.asp' %></td>
			<td><%= link_to (image_tag 'footer/santander.jpg'), 'http://www.santander.cl' %></td>
		</tr>
	</table>
</div>