<% g = Grade.find(locals[:grade_id])%>
<% c = Category.find(locals[:category_id])%>
<div class="level">
	<% g.topics.each do |t| %>
		<% if t.contents.count>0 || current_member.is_admin %>
		<div class="full" id="topic_<%= t.id %>">
			<table>
				<tr>
					<td>
						<%= image_tag("iconos/site_categories/articulo.png")%>
					</td>
					<td class="left-menu-option" id="level_3_<%= t.id %>">
						<%= link_to t.title.to_s + ' (' + t.articles.count.to_s + ')', controller: "home", action: "resource", topic_id: t.id, remote: true%>
					</td>
					<% if current_member && current_member.is_admin %>
						<td class="little-img-container delete-icon-div">
							<%= link_to image_tag("delete_icon.png"), {controller: "home", action: "delete_item", topic_id: t.id}, remote: true, class: "delete_icon" %>
						</td>
					<% end %>
				</tr>
			</table>
		</div>
		<% end %>
	<% end %>


	<!-- form new topic -->
	<% if current_member && current_member.is_admin %>
			<table>
				<tr>
					<td style="vertical-align: top">&bull;</td>
					<td><%= link_to 'Nuevo tema', new_topic_path(g.id) %></td>
					<td></td>
				</tr>
			</table>
	<% end %>
</div>