<div class="full" id="menu_bar_2">
	<table>
		<tr>
			<td><%= image_tag 'iconos/menu_bar_2/inicio.png' %></td>
			<td class="link_to"><%= link_to 'Inicio', root_path %></td>
			<%= render 'menu_bar_2_item', index:'Videos' %>
			<td><%= image_tag 'iconos/menu_bar_2/publi.png' %></td>
			<td class="link_to"><%= link_to 'Publicidad', home_material_path(7) %></td>
			<%= render 'menu_bar_2_item', index:'Infografias' %>
			<%= render 'menu_bar_2_item', index:'Cartas_al_director' %>
			<%= render 'menu_bar_2_item', index:'Columnas' %>
			<%= render 'menu_bar_2_item', index:'Estudios' %>
			<%= render 'menu_bar_2_item', index:'Noticias' %>
			<%= render 'menu_bar_2_item', index:'Presentaciones' %>
		</tr>
	</table>
</div>