<div class="full" id="menu_bar_2">
	<table>
		<tr>
			<%= render 'menu_bar_2_item', index:'inicio' %>
			<%= render 'menu_bar_2_item', index:'videos' %>
			<%= render 'menu_bar_2_item', index:'infografias' %>
			<%= render 'menu_bar_2_item', index:'cartas_al_director' %>
			<%= render 'menu_bar_2_item', index:'columnas' %>
			<%= render 'menu_bar_2_item', index:'estudios' %>
			<%= render 'menu_bar_2_item', index:'noticias' %>
			<%= render 'menu_bar_2_item', index:'spots' %>
			<%= render 'menu_bar_2_item', index:'presentaciones' %>
		</tr>
	</table>
</div>