<div class="full" id="menu_bar_1">
	<table id="menu_bar_1_table">
		<tr>
			<td><%= link_to 'Sobre el proyecto', home_about_us_path %></td>
			<td><%= image_tag 'punto.png' %></td>
			<td><%= link_to 'Sé parte', home_join_us_path %></td>
			<td><%= image_tag 'punto.png' %></td>
			<td><%= link_to 'Equipo InCuVa', home_our_team_path %></td>
		</tr>
	</table>
</div>