<% a = Article.find(locals[:article_id]) %>

<div class="separator"></div>
<div class="full">
	<div class="middle">
		<!-- formulario de url -->
		<div class="full">
			<div id="new_content_form">
				<%= form_tag({action: :upload_content}, multipart: true, remote:true) do %>
					<%= hidden_field_tag 'article_id' , a.id %>
					<table>
						<tr>
							<td>Subir por URL</td>
							<td></td>
						</tr>
						<tr>
							<td>Titulo:</td>
							<td><%= text_field_tag 'name','', required: true%></td>
						</tr>
						<tr>
							<td>URL:</td>
							<td><%= text_field_tag 'url','', required: true %></td>
						</tr>
						<tr>
							<td>Tipo archivo:</td>
							<td></td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "pdf", checked: true) %></td>
							<td>PDF</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "mp3", checked: true) %></td>
							<td>Audio</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "mp4", checked: true) %></td>
							<td>Video</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "jpg", checked: true) %></td>
							<td>Imagen</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "rar", checked: true) %></td>
							<td>Zip - rar</td>
						</tr>
						<tr>
							<td></td>
							<td><%= submit_tag 'Listo'%></td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>

	<!-- formulario de archivo -->
	<div class="middle">
		<div class="full">
			<div id="new_content_form">
				<%= form_tag({action: :upload_content}, multipart: true) do %>
					<%= hidden_field_tag 'article_id' , a.id %>
					<table>
						<tr>
							<td>Subir desde PC</td>
							<td></td>
						</tr>
						<tr>
							<td>Titulo:</td>
							<td><%= text_field_tag 'name','', required: true%></td>
						</tr>
						<tr>
							<td>Archivo:</td>
							<td><%= file_field_tag 'content_file',required: true %></td>
						</tr>
						<tr>
							<td>Fuente:</td>
							<td><%= text_field_tag 'source','InCuVa', required: true%></td>
						</tr>
						<tr>
							<td>Tipo archivo:</td>
							<td></td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "pdf", checked: true) %></td>
							<td>PDF</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "mp3", checked: true) %></td>
							<td>Audio</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "mp4", checked: true) %></td>
							<td>Video</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "jpg", checked: true) %></td>
							<td>Imagen</td>
						</tr>
						<tr>
							<td><%= radio_button_tag(:extension, "rar", checked: true) %></td>
							<td>Zip - rar</td>
						</tr>
						<tr>
							<td></td>
							<td><%= submit_tag 'Listo'%></td>
						</tr>
					</table>



				<% end %>
			</div>
		</div>
	</div>
</div>