<% if current_member && current_member.is_admin %>
<!-- es admin, mostramos todo -->
	<% Category.all.each do |c| %>
		<div class="full" id="category_<%= c.id%>">
			<table>
				<tr class="nav-level-1">
					<td><%= image_tag("punto.png")%></td>
					<td class="nav-level" id="level_1_<%= c.id %>"><%= c.name + ' (' + c.contents.count.to_s + ')'%></td>
					<td><%= link_to image_tag("delete_icon.png"), {controller: "home", action: "delete_item", category_id: c.id}, remote: true, class: "delete_icon" %></td>
				</tr>
			</table>
		</div>

		<!-- categories_grades -->
		<div class="full  nav-level-2 div_level_2_<%= c.id %> div_nav_level">
			<%= render 'category_grades', :locals => {:category_id => c.id }%>
		</div>

	<% end %>
<% else %>

<!-- vista de las categorias para un usuario normal o invitado -->
	<% Category.all.each do |c| %>

		<!-- si es que la cateogoria tiene contenidos, la mostramos -->
		<% if c.contents.count > 0 %>
			<div class="full" id="category_<%= c.id%>">
				<table>
					<tr class="nav-level-1">
						<td><%= image_tag("punto.png")%></td>
						<td class="nav-level" id="level_1_<%= c.id %>"><%= c.name + ' (' + c.contents.count.to_s + ')'%></td>
					</tr>
				</table>

				<!-- categories_grades -->
				<div class="full  nav-level-2 div_level_2_<%= c.id %> div_nav_level">
					<%= render 'category_grades', :locals => {:category_id => c.id }%>
				</div>

			</div>
		<% end %>
	<% end %>

	
<% end %>

<% if current_member && current_member.is_admin %>
	<div class="full">
		<div class="nav-level-1">
			<div class="little-img-container left">
				<%= image_tag("punto.png")%>
			</div>

				<!-- category new form -->
				<div class="left nav-level">
					<%= form_tag({controller: "home", action: "site_categories"}, method: "post", id: "site_categories_form") do %>
						<%= text_field_tag('name','Crear nueva categoria')%>
						<%= submit_tag("Crear")%>
					<% end %>
				</div>
		</div>
	</div>
<% end %>

