<div class="full" id="slide_show">
	<div class="full slide" id="slide_1">
		<%= image_tag 'slide/slide_1.jpg' %>
	</div>
	<div class="full slide" id="slide_2">
		<%= image_tag 'slide/slide_2.jpg' %>
	</div>
	<div class="full slide" id="slide_3">
		<%= image_tag 'slide/slide_3.jpg' %>
	</div>
	<div class="full slide" id="slide_4">
		<%= image_tag 'slide/slide_4.jpg' %>
	</div>
	<div class="full slide" id="slide_5">
		<%= image_tag 'slide/slide_5.jpg' %>
	</div>
</div>