<% t = Topic.find(locals[:topic_id]) %>
<div class="level">
	<table>
		<% t.articles.each do |a| %>

			<tr>
				<td><%= image_tag("article_icon.png")%></td>
				<td><%= link_to a.title, controller: "home", action: "resource", article_id: a.id, remote: true %></td>
				<td><%= link_to image_tag("delete_icon.png"), controller: "home", action: "delete_item", article_id: a.id, remote: true %></td>
			</tr>
			<tr>
				<div class="full" id="#article_<%= a.id %>">
					<div class="">
						<%= image_tag("article_icon.png")%>
					</div>
					<div class="left">
						<%= link_to a.title, controller: "home", action: "resource", article_id: a.id, remote: true %>
					</div>
					<div class="">
						<%= link_to image_tag("delete_icon.png"), controller: "home", action: "delete_item", article_id: a.id, remote: true %>
					</div>
				</div>
			</tr>
		<% end %>
	</table>



	<div class="full">
		<%= form_tag({controller: "home", action: "topic_articles"}, method: "post") do %>
			<%= text_field_tag('title','Crear nuevo articulo')%>
			<%= hidden_field_tag('topic_id', t.id)%>
			<%= submit_tag("Crear")%>
		<% end %>
	</div>
</div>