<div class="full">

    <!-- title -->
    <div id="registration-full-div">
        <div class="padder">
            <!-- <h1 id="website-title">Incuva</h1> -->
            <div class="full">
                    <div class="span40 centered">
                            <%= image_tag('logo-Incuva-horizontal.png')%>
                    </div>
            </div>

            <div class="full">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <table style=" margin-left: auto; margin-right: auto; ">
                    <tr>
                        <td></td>
                        <td><h4>Ingresar</h4></td>
                    </tr>
                    <tr>
                        <td class="text-right">Email:</td>
                        <td><%= f.email_field :email %></td>
                    </tr>
                    <tr>
                        <td class="text-right">Password:</td>
                        <td><%= f.password_field :password %></td>
                    </tr>
                    <tr>
                        <td class="text-right"></td>
                        <td><%= f.submit 'Ingresar' %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= devise_error_messages! %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= render "devise/shared/links" %></td>
                    </tr>
                </table>
                    <div class="full">
                            <%= devise_error_messages! %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= link_to "", "http://www.youtube.com/watch?v=kfpXmdH2rcw&feature=youtu.be" , {class:"fancybox-video", id:"description_video"} %>