<div class="full first-full">

    <!-- title -->
    <div id="registration-full-div">
        <div class="padder">
            <!-- <h1 id="website-title">Incuva</h1> -->
            <div class="full">
                    <div class="span40 centered">
                            <%= image_tag('logo-Incuva-horizontal.png')%>
                    </div>
            </div>



            
            <div class="full">
                    <h4 id="registration_title">Ingresar</h4>
            </div>
            <div class="full">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <table class="full">
                <tr>
                    <td style="width: 50%;"></td>
                    <td style="width: 50%;"></td>
                </tr>
                <tr>
                    <td class="text-right">Email:</td>
                    <td><%= f.email_field :email %></td>
                </tr>
                <tr>
                    <td class="text-right">Password:</td>
                    <td><%= f.password_field :password %></td>
                </tr>
                <tr>
                    <td class="text-right"></td>
                    <td><%= f.submit 'Ingresar' %></td>
                </tr>
            </table>
                <div class="full">
                        <%= devise_error_messages! %>
                </div>
            <% end %>
			<div class="full">
			          <div class="f-form-label">
			                  <span></span>
			          </div>
			          <div class="f-form.input">
            				<%= render "devise/shared/links" %>
			        </div>
			</div>
            <!-- forgot my password -->

            </div>
        </div>
    </div>
</div>
<%= link_to "", "http://www.youtube.com/watch?v=kfpXmdH2rcw&feature=youtu.be" , {class:"fancybox-video", id:"description_video"} %>