<div class="full" id="menu_bar_div">
	<table class="full" id="menu_bar_table">
		<tr>
			
			<td><%= image_tag('video.png')%> <%= link_to 'Videos', home_material_path(1) %> </td>
			<td><%= image_tag('infografia.png')%> <%= link_to 'Infografías', home_material_path(2) %> </td>
			<td><%= image_tag('carta.png')%> <%= link_to 'Cartas al director', home_material_path(3) %> </td>
			<td><%= image_tag('columna.png')%> <%= link_to 'Columnas', home_material_path(4) %> </td>
			<td><%= image_tag('estudios.png')%> <%= link_to 'Estudios', home_material_path(5) %> </td>
			<td><%= image_tag('noticias.png')%> <%= link_to 'Noticias', home_material_path(6) %> </td>
			<td><%= image_tag('spots.png')%> <%= link_to 'Spots', home_material_path(7) %> </td>
			<td><%= image_tag('presentacion.png')%> <%= link_to 'Presentaciones', home_material_path(8) %> </td>
		</tr>
	</table>
</div>