<% notice = Notice.find(locals[:notice_id]) %>
<div class="full notice">
	<div class="full notice_header">
		<div class="notice_title">
			<%= notice.title %>
			<% if current_member.is_admin %>
				|<%= link_to 'editar', edit_notice_path(notice) %>
				<%= link_to 'eliminar', notice, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
		<div class="notice_date">
			<%= notice.f_date %>
		</div>
	</div>
	
	<div class="full notice_body">
		<div class="full">
			<% if notice.image_url %>
				<%= image_tag notice.image_url %>
			<% end %>
			<%= notice.body %>	
		</div>
		<% if notice.link_url %>
		<div class="full notice_link">
			<%= link_to 'Ir al link' , notice.link_url %>
		</div>
		<% end %>
	</div>
</div>


<!-- 
<div class="full notice" class="notice_<%= notice.id %>">
	<div class="span10">
		<div class="notice-date">
		</div>
	</div>
	<div class="span80">
		<div class="small-padder non-floater">
		</div>
	</div>
	<div class="span10">
		<div class="full">
		</div>
	</div>
</div> -->