<div class="span20" id="social">
	<div class="full">
		<%= link_to image_tag('facebook.png'), "https://www.facebook.com/pages/eligeeducar/185747833736?fref=ts", target: "_blank"%>
		<%= link_to image_tag('twitter.png'), "https://twitter.com/eligeeducar", target: "_blank"%>
	</div>
	<div class ="full" id="sections_menu">
		<div class="full sections_menu_tab">
			<%= link_to 'Sobre el proyecto', home_about_us_path %>
		</div>
		<div class="full sections_menu_tab">
			<%= link_to 'Sé parte', home_join_us_path %>
		</div>
		<div class="full sections_menu_tab">
			<%= link_to 'Equipo InCuVa', home_our_team_path %>
		</div>
		<div class="full sections_menu_tab">
			<%= link_to 'Contacto', home_contact_path %>
		</div>
	</div>
</div>