<div class="full header-title">
	
	<!-- menu -->
	<div class="full">
		<div class="right">
			<div class="full">


				<!-- login form -->
				<% if !current_member %>
					<%= form_for("member", :url => member_session_path) do |f| %>
						<div class="right" id="login-div">
							<table class="table-1">
								<tr>
									<td>Email</td>
									<td>Password</td>
									<td></td>
								</tr>
								<tr>
									<td><%= f.email_field :email, value:"Account"%></td>
									<td><%= f.password_field :password, value: 'password' %></td>
									<td><%= f.submit "Sign in" %></td>
								</tr>
								<tr>
									<td>
										<div>
											<%= link_to  "Registrate", 'member_signup_path'%>
										</div>
									</td>
									<td>¿Olvidaste tu password?</td>
									<td></td>
								</tr>
							</table>
						</div>
					<% end %>
				<% else %>
					<div class="right">
						<div class="small-padder">
							<%= current_member.f_name %>
						</div>
						<div class="small-padder">
							<%= link_to "Log out", destroy_member_session_path, :method => :delete  %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- title -->
	<div class="full">
		<div class="padder">
			<div class="full">
				<div id="title-image">
					<%= image_tag('logo-Incuva-horizontal.png')%>
				</div> 
			</div>
			<h2 id="to-website-subtitle">Un proyecto de <%= link_to 'Elige Educar', 'http://www.eligeeducar.cl' , :target => "_blank"%></h2>
		</div>
	</div>

</div>